{% extends "dndsite/extendables/base.html" %}

{% load atlas_tags %}


{% block title %}
    {{ location.name }}
{% endblock %}


{% block content %}
    <h1>{{ location.name }}</h1>
    <p class="lead"> Type: <a href="{{ location.type.get_absolute_url }}">{{ location.type }}</a></p>

    <h3>Parents</h3>
    <p>Below is a table listing all the regions or locations that contain this one, starting from the biggest.</p>
    {% generate_parents_table %}


    <h3>Children</h3>
    <p>Below is a table listing all the next largest regions or locations that comprise this one. </p>
    {% generate_children_table %}

    <h3>Details</h3>
    {% include 'details/includables/detail_collections.html' %}
{% endblock %}