{% load authorization_tags %}
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {% firstof request.session.campaign_name 'Select Campaign' %}
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        {% generate_nav_campaigns_list %}
        <div class="dropdown-divider"></div>
        <a class="dropdown-item disabled" href="#">Create New Campaign</a>
        {% if request.session.campaign_name %}
            <a class="dropdown-item" href="{% url 'authorization:campaign_detail' request.session.campaign_pk %}">Campaign Info</a>
        {% endif %}
    </div>
</li>
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {% firstof request.session.character_name 'Guest' %}
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        {% generate_nav_characters_list %}
        <div class="dropdown-divider"></div>
        <a class="dropdown-item disabled" href="#">Create New Character</a>
        {% if request.session.character_pk %}
            <a class="dropdown-item" href="{% url 'authorization:character_detail' request.session.character_pk %}">Character Info</a>
        {% endif %}
    </div>
</li>
