<div class="card">
    <div class="card-body">
        <p>{{ detail.detail_text }}</p>
        <a class="" data-toggle="collapse" href="#DetailMeta{{ detail.pk }}" aria-expanded="false" aria-controls="DetailMeta{{ detail.pk }}">
            <i class="fas fa-angle-down"></i>
        </a>
    </div>
    <div class="collapse" id="DetailMeta{{ detail.pk }}">
        <div class="card-footer">
            <div class="row">
                <div class="col-2">
                    pk={{ detail.pk }}
                </div>
                <div class="col-2">
                    order={{ detail.order }}
                </div>
            </div>
        </div>
    </div>
</div>