{% extends "dndsite/base.html" %}

{% block title %}
{{ location.name }}
{% endblock %}

{% block content %}

<h1>{{ location.name }}</h1>
<p class="lead"> Type: {{ location.type }}</p>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<h3>Parents</h3>
<p>Below is a table listing all the regions or locations that contain this one, starting from the biggest.</p>
<div class="row">
    <div class="col-1"></div>
    <div class="table-responsive col-8">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Type</th>
                </tr>
            </thead>
            <tbody>
            {% for parent in parents reversed %}
                <tr>
                    <td><a href="{% url 'atlas:location_detail' parent.id %}">{{ parent.name }}</a></td>
                    <td>{{ parent.type }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td>N/A</td>
                    <td>N/A</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-3"></div>
</div>


<h3>Children</h3>
<p>Below is a table listing all the next largest regions or locations that comprise this one. </p>
<div class="row">
    <div class="col-1"></div>
    <div class="table-responsive col-8">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Type</th>
                </tr>
            </thead>
            <tbody>
            {% for child in location.children.all %}
                <tr>
                    <td><a href="{% url 'atlas:location_detail' child.id %}">{{ child.name }}</a></td>
                    <td>{{ child.type }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td>N/A</td>
                    <td>N/A</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-3"></div>
</div>

<h3>Details</h3>
    {% include 'details/details_widget.html' %}

{% endblock %}
