<div class="row">
    <div class="col-1"></div>
    <div class="table-responsive col-8">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Type</th>
                </tr>
            </thead>
            <tbody>
            {% for location in locations %}
                <tr>
                    <td><a href="{% url 'atlas:location_detail' location.id %}">{{ location.name }}</a></td>
                    <td><a href="{{ location.type.get_absolute_url }}">{{ location.type }}</a></td>
                </tr>
            {% empty %}
                <tr>
                    <td>N/A</td>
                    <td>N/A</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-3"></div>
</div>