<!DOCTYPE html>
<html lang="en" ng-app="dndsite">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Title{% endblock %}</title>

        {% include 'dndsite/includables/stylesheets.html' %}
    </head>
    <body>
        {% include 'dndsite/includables/navbar.html' %}
        {% block error_message %}
            {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
        {% endblock %}
        <div class="container">
        {% block content %}
        {% endblock %}
        </div>

        {% include 'dndsite/includables/javascripts.html' %}
    </body>
</html>
