{% load authorization_tags %}
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {% if request.session.campaign_name == None %}
            Select Campaign
        {% else %}
            {{ request.session.campaign_name }}
        {% endif %}
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        {% generate_nav_campaigns_list %}
    </div>
</li>
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {% if request.session.character_name == None %}
            Guest
        {% else %}
            {{ request.session.character_name }}
        {% endif %}
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        {% generate_nav_characters_list %}
    </div>
</li>
